[user]
    email = cameronperot@users.noreply.github.com
    name = Cameron Perot
    signingkey = (redacted)
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[core]
    editor = nvim
[pull]
    rebase = false
[gc]
    worktreePruneExpire = never
[alias]
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
