[user]
    email = cameronperot@users.noreply.github.com
    name = Cameron Perot
    signingkey = 430F63ABA9446784
[commit]
    gpgsign = true
[core]
    editor = nvim
[pull]
    rebase = false
[alias]
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
